<div [ngDraggable]="draggable" class="draggableVideo ">
  <div *ngIf="session">
    <app-publisher [session]="session" [ngResizable]="ngResizable"></app-publisher>
    <app-subscriber *ngFor="let stream of streams" [stream]="stream" [session]="session"></app-subscriber>
  </div>
</div>


