app-publisher, app-subscriber{
  display: block;
  float: left;
}

app-publisher {
  width: 224px;
  height: 224px;
  max-width: 224px;
  max-height: 201px;
  min-height: 100px;
  min-width: 100px;
}

.draggableVideo {
  position: absolute;
  cursor: move;
}

.ng-resizable {
  position: relative;
}

.ng-resizable-handle {
  position: absolute;
  font-size: 0.1px;
  display: block;
  -ms-touch-action: none;
  touch-action: none;
}

.ng-resizable-handle.ng-resizable-e {
  cursor: e-resize;
  width: 7px;
  right: -5px;
  height: 100%;
  top: 0;
}

.ng-resizable-handle.ng-resizable-w {
  cursor: w-resize;
  width: 7px;
  left: -5px;
  height: 100%;
  top: 0;
}

.ng-resizable-handle.ng-resizable-s {
  cursor: s-resize;
  height: 7px;
  bottom: -5px;
  width: 100%;
  left: 0;
}

.ng-resizable-handle.ng-resizable-n {
  cursor: n-resize;
  height: 7px;
  top: -5px;
  width: 100%;
  left: 0;
}

.ng-resizable-handle.ng-resizable-se {
  cursor: se-resize;
  width: 12px;
  height: 12px;
  right: 1px;
  bottom: 1px;
  right: 4px !important;
  bottom: 4px !important;
  transform: scale(2);
}

.ng-resizable-handle.ng-resizable-sw {
  cursor: sw-resize;
  width: 12px;
  height: 12px;
  left: 1px;
  bottom: 1px;
}

.ng-resizable-handle.ng-resizable-ne {
  cursor: ne-resize;
  width: 12px;
  height: 12px;
  right: 1px;
  top: 1px;
}

.ng-resizable-handle.ng-resizable-nw {
  cursor: nw-resize;
  width: 12px;
  height: 12px;
  left: 1px;
  top: 1px;
}

.ng-resizable-diagonal {
  box-sizing: border-box;
  width: 0;
  height: 0;
  border-bottom: 12px solid #aaa;
  border-left: 12px solid transparent;
}

